html {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #f5f6f8;
}

*{
    margin: 0;
    padding: 0;
}

input{
    background-color: #F7F9FC;
        border: 1px solid #F0EEF6;
        border-radius: 5px;
        padding: 10px;
        display: block;
        margin-bottom: 15px;
        margin-top: 5px;
        width: 94%;
        outline: none;
}

.user-form{
    width: 20%;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    padding-bottom: 40px;
    margin-top: 25vh;
    border-radius: 5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px
}

.btn-form{
    background-color: #FBCD27;
    border: 1px solid #FBCD27;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

a{
    color:#FBCD27;
    text-decoration: none;
}

h1{
    font-size:20px;
    margin-bottom: 10px;
    text-align: center;
}
span{
    float: right;
    margin-top: 5px;
}


.linkSport {
    text-decoration: none;
    color: black;
}

.divSport {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.betButton {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FBCD27;
}

.sports-list{
    width:20%;
    height:100%;
    position: fixed;
    top: 100px;
    margin-left:5%
}

.sports-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px
}

.cart-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px;
    margin-top:30px;
    height:50%
}

.sports-card-header{
    text-align: center;
    margin-bottom: 25px;
    padding:10px
}

.brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 10vw;
    height: 35px;
}

nav {
    display: flex;
}

.site-header {
    background-color: #313131;
    position:sticky;
    top:0px !important
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    list-style-type: none;
}

.nav-item a {
    display: block;
}

.connexion {
    background-color: #FBCD27;
    margin-right: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.inscription,
.deconnexion {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25vw;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.balance {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    color:#FBCD27;
    padding-left: 25px;
    background-color: #3E3E3E;
    border-radius: 3px;
}

.firstname {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1rem;
}

.bets-icon {
    margin-right: 25px;
    margin-left: 25px;
}
.user-data{
    display: flex;
    align-items: center;
}

.bets-contain{
    width: 80%;
    height:100vh;
    display:flex;
    margin:auto;
    margin-top:20px
}

.bets-container{
    width: 100%;
    height:100%;
}

.bets-header{
    width: 100%;
    background-color:#fff;
    border-radius:5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px;
}

.bets-title{
    font-size: 15px;
    padding:15px;
}

.bet-card{
    background-color: #fff;
    display:flex;
    padding:10px;
    justify-content:space-between;
    margin-bottom:10px;
    border-radius:3px;
}

.bet-teams{
    line-height: 2.5em;
    text-align:center;
    padding-left:25px;
}

.bet-odds{
    background-color: #FBCD27;
    border-radius:3px;
    padding:10px 25px;
}

.bet-status{
    background-color: #bbb;
    border-radius:3px;
    padding:10px 35px;
}

.main-contain{
    width: 100%;
    height:100vh;
    display:flex;
    margin:auto;
    margin-top:20px
}

.main-container{
    width: 70%;
    height:100%;
    padding-left:20px;
    margin-left:25%
}

.main-header{
    width: 100%;
    background-color:#fff;
    border-radius:5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px;
    padding:10px
}

.match-contain{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-top:20px;
    text-align:center;
    justify-content:center
}

.match-card{
    width: 45%;
    padding-bottom:20px;
    height:300px;
    background-color:white;
    border-radius:8px;
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.match-odds{
    height:65%;
    display: flex;
    margin-top:20px;
    font-size:10px;
    justify-content:space-between
}

.team-background{
    background-position:center;
    margin: 15px;
    background-size:contain;
    background-repeat: no-repeat;
    width:50%;
}

.match-competition{
    height: 10%;
    color:grey;
    margin-top:10px;
}

.sport-contain{
    width: 100%;
    height:100vh;
    margin:auto
}

.sport-container{
    width:70%;
    height:100%;
    padding-left:20px;
    margin-left:25%
}

.sport-header{
    margin-top: 100px;
    width: 90%;
    margin-left:4%;
    background-color:#fff;
    border-radius:5px;
    box-shadow: rgb(211 211 211 / 20%) 0px 2px 8px 0px;
    padding:10px
}

.sport-matchs{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-top:20px;
    text-align:center;
    justify-content:center
}

.btnChampionnat{
    background-color: white;
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    color:black;
}

.sport-matchs-card{
    width: 45%;
    padding-bottom:20px;
    height:300px;
    background-color:white;
    border-radius:8px;
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.sport-matchs-odds{
    height:65%;
    display: flex;
    margin-top:20px;
    font-size:10px;
    justify-content:space-between
}